h1 {
    color: #000;
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
p { 
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img {
    margin: 0 48 129 47;
    width: 366px;
height: 365px;
flex-shrink: 0;
}
button {
color: #FFF;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 241px;
height: 88px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background-color:#E70628;
}
Div {
    font-size: 20;
    font-family: Roboto;
    font-style:Normal;
}
body {
    width: 1440px;
height: 1024px;
flex-shrink: 0;
    background-color:#D1F0F8;
    text-align: center;
}
